@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 10px;
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 5rem 10%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    width: 100%;
    z-index: 1000;
    padding: 1rem 10%;
    top: 0;
}
.nav h1{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li{
    padding: 0 2rem;
}
.nav ul li a{
    font-size: 1.8rem;
    color: #222;
}
.nav ul li a:hover{
    color: #e56717;
    text-decoration: underline;
}
.nav i{
    font-size: 2.5rem;
    color: #222;
    display: none;
}

/* hero */
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner/pexels-cottonbro-3927390.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 4rem;
}
.hero .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero .text h3{
    font-size: 5rem;
    color: #222;
    background-image: url(images/button.png);
    background-position: left;
    background-repeat: no-repeat;
}
.hero .text h2{
    font-size: 10rem;
    margin-bottom: 1rem;
}
.text p{
    font-size: 3rem;
    color: #6c6c6c;
}
.hero .text p span{
    font-size: 3rem;
    color: red;
    font-weight: bold;
}
.hero .text button{
    font-size: 1.8rem;
    border: none;
    color: #fff;
    background: #e56717;
    padding: 1rem 3rem;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
    transition: .5s; 
}
.hero .text button i{
    font-size: 1.8rem;
    margin-left: 1rem;
}

/* clothes */
.clothes h2{
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
    position: relative;
}
.line{
    border: 2px solid #005AB5;
    position: absolute;
    width: 10rem;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1rem;
}
.card-container{
    margin: 4rem 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-container .card{
    width: 23%;
    padding: 1rem 1.2rem;
    border: 1px solid#C4E1FF;
    border-radius: 2.5rem;
    position: relative;
    margin: 1.5rem 0;
}
.card-container .card img{
    width: 100%;
    border-radius: 2.5rem;
}
.card-container .card .detail{
    margin-top: 1rem;
    line-height: 2.5rem;
}
.card-container .card .detail span{
    font-size: 1.4rem;
    color: #6c6c6c;
}
.card-container .card .detail h5{
    font-size: 1.8rem;
}
.card-container .card .detail .star{
    color: rgb(243, 181, 25);
}
.card-container .card .detail h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    color:#005AB5;
}
.card-container .card .cart{
    font-size: 2.5rem;
    color: #6c6c6c;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
}
.card-container .card .cart:hover{
    color: #005AB5;
}

/* banner */
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(images/banner/pexels-kaique-rocha-250356.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.banner h2{
    color: #fff;
    font-size: 5rem;
    letter-spacing: 7px;
}
.banner h4{
    color: #d0d0d0;
    font-size: 2.5rem;
}

/* shoes */
.shoes h2{
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
}
.shoes .line{
    border: 2px solid #BB3D00;
}
.shoes .card-container .card{
    width: 23%;
    padding: 1rem 1.2rem;
    border: 1px solid #FFDAC8;
    border-radius: 2.5rem;
    position: relative;
    margin: 1.5rem 0;
}
.shoes .card-container .card .detail h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    color:#BB3D00;
}
.shoes .card-container .card .cart:hover{
    color:#BB3D00;
}

/* banner */
.acc-banner{
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(images/banner/pexels-antony-trivet-9982620.jpg);
}

/* accessories */
.accessories h2{
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
}
.accessories .line{
    border: 2px solid#4F9D9D;
}
.accessories .card-container .card{
    border: 1px solid #B3D9D9;
}
.accessories .card-container .card .detail h3{
    color:#4F9D9D;
}
.accessories .card-container .card .cart:hover{
    color:#4F9D9D;
}

/* sm-banner */
.sm-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10%;
}
.banner-left{
    width: 48%;
}
.banner-right{
    width: 48%;
}
.banner-box{
    background-image: url(images/banner/pexels-ivan-samkov-8498381.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}
.banner-box .text{
   padding: 3rem;
   color: #fff;
}
.banner-box .text span{
    font-size: 1.6rem;
}
.banner-box .text h2{
    font-size: 3rem;
    letter-spacing: .5rem;
}
.banner-box .text p{
    font-size: 1.8rem;
    color: #fff;
}
.banner-box .text button{
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.banner-box2{
    background-image: url(images/banner/pexels-andrea-piacquadio-3767414.jpg);
    width: 100%;
    margin-top: 1rem;
}
.banner-box3{
    background-image: url(images/banner/pexels-ron-lach-9256867.jpg);
    width: 100%;
}
.banner-box3 .text h2{
    color: #fff;
    backdrop-filter: blur(5px);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #fff;
}
.banner-box4{
    background-image: url(images/banner/pexels-pavel-danilyuk-6461394.jpg);
    width: 100%;
    height: 61vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    padding: 3rem;
}
.banner-box4 h2{
    font-size: 4rem;
}
.banner-box4 span{
    font-size: 2rem;
    color: #ec544e;
    font-weight: bold;
}

/* contact */
.footer h1{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: #222;
    border-top: 1px solid #d6d6d6;
    padding: 4rem;
    text-align: center;
}
.footer .row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .row dl dt{
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    text-decoration: underline;
}
.footer .row dl dd{
    padding: 1rem 0;
}
.footer .row dl dd a{
    font-size: 1.4rem;
    color: #222;
}
.footer .row dl dd a:hover{
    color: #e56717;
}
.contact a i{
    font-size: 2.5rem;
    padding-right: 2rem;
}
.pay{
    text-align: center;
    padding: 4rem;
}
.copyright{
    background: #333;
}
.copyright p{
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    padding: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

/* arrow */
.arrow-btn{
   position: fixed;
   right: 2.5rem;
   bottom: 2.5rem;    
}
.arrow-btn .circle{
    width: 5rem;
    height: 5rem;
    background: #e56717;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 999999;
}
.arrow-btn i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* cart */
.cart h4{
    font-size: 1.4rem;
    padding: 1rem;
}
.cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.cart thead{
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.cart thead tr td{
    font-size: 1.6rem;
    padding: 1rem;
}
.cart tbody{
    border-bottom: 1px solid #d6d6d6;
}
.cart tbody tr td{
    font-size: 1.4rem;
    padding: 1rem;
}
.cart tbody:hover{
    background: #f0f0f0;
}
.cart tbody tr td input{
    width: 7rem;
    padding: .5rem;
}
.cart tbody tr td img{
    width: 10rem;
}
.cart tbody tr td i{
    font-size: 1.4rem;
    cursor: pointer;
}
.cart tbody tr td i:hover{
    color: #e56717;
}

/* order */
.form{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.form .form-left{
    width: 60%;
}
.form .form-right{
    width: 38%;
}
.form h3{
    font-size: 2rem;
    padding: 1rem;
    background: #f0f0f0;
}
.delivery{
    padding: 1rem;
}
.delivery .form-group{
    margin-bottom: 2rem;
}

.delivery .form-group select{
    width: 100%;
    padding: 1rem 0;
    font-size: 1.4rem;
    margin-top: 1rem;
}
.delivery .form-group option{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.delivery label{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.total{
    padding: 1rem;
}
.fee-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fee-group p, .coupon-group p{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.coupon-group .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coupon-group input{
    padding: .5rem;
    font-size: 1.4rem;
    width: 68%;
}
.coupon-group button{
    padding: .5rem 2rem;
    font-size: 1.6rem;
    width: 28%;
    color: #fff;
    background: #8e8e8e;
    border: 0;
    cursor: pointer;
}
.total .cost{
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    color: #fff;
    background: #e56717;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
.code{
    cursor: pointer;
}
.hide{
    display: none;
}
.hide.active{
    display: block;
}
.final{
    margin-top: 3rem;
}

/* media query */
@media (max-width: 991px){
    .hero .text h3{
        font-size: 3rem;
    }
    .hero .text h2{
        font-size: 5.5rem;
    }
    .hero .text p{
        font-size: 2rem;
    }
    .hero .text p span{
        font-size: 2rem;
    }
    .hero .text button{
        font-size: 1.6rem;
    }
    .hero .text button i{
        font-size: 1.6rem;
    }
    .card-container .card .detail span{
        font-size: 1rem;
    }
    .card-container .card .detail h5{
        font-size: 1.5rem;
    }
    .card-container .card .detail h3{
        font-size: 1.5rem;
    }
    .card-container .card .cart{
        font-size: 2rem;
    }
    .banner-left{
        width: 100%;
    }
    .banner-right{
        width: 100%;
    }
    .banner-box2{
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px){
    .hero .text{
        text-align: center;

    }
    .hero .text h3{
        font-size: 2.5rem;
        background-position: center;
        margin-bottom: 1rem;
    }
    .hero .text h2{
        font-size: 4.2rem;
    }
    .nav ul{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 30rem;
        background: #f0f0f0;
        padding: 5rem 0 0 1rem;
        margin-top: 8rem;
        display: none;
    }
    .nav ul.active{
        display: block;
    }
    .nav ul li{
        margin-bottom: 2.5rem;
    }
    .nav i{
        display: block;
    }
    .card-container .card, 
    .shoes .card-container .card,
    .accessories .card-container .card{
        width: 48%;
    }
    .banner-box4 h2{
        font-size: 3rem;
    }
    .footer .row dl{
        width: 25%;
    }
 
}
@media (max-width: 450px){
    .hero .text h3{
        font-size: 2rem;
    }
    .hero .text h2{
        font-size: 3rem;
    }
    .hero .text p{
        font-size: 1.4rem;
    }
    .hero .text p span{
        font-size: 1.4rem;
    }
    .card-container .card, 
    .shoes .card-container .card,
    .accessories .card-container .card{
        width: 100%;
    }
    .banner h2{
        font-size: 2.5rem;
    }
    .banner h4{
        font-size: 1.5rem;
    }
    .banner-box .text span{
        font-size: 1.4rem;
    }
    .banner-box .text h2{
        font-size: 2rem;
        letter-spacing: .5rem;
    }
    .banner-box .text p{
        font-size: 1.6rem;
        color: #fff;
    }
    .banner-box .text button{
        font-size: 1.2rem;
    }
    .banner-box4 h2{
        font-size: 2rem;
    }
    .banner-box4 span{
        font-size: 1.8rem;
    }
    .footer .row dl{
        width: 50%;
        padding-bottom: 2rem;
    }

    
}