@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 10px;
}
section{
    padding: 10px 10%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.nav h1{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li{
    padding: 0 2rem;
}
.nav ul li a{
    font-size: 1.8rem;
    color: #222;
}
.nav ul li a:hover{
    color: #e56717;
    text-decoration: underline;
}
.nav ul li i{
    font-size: 1.8rem;
    color: #222;
    display: none;
}












